.footer {
    background-color: var(--primary);
    border-top: 1px solid var(--primary);
    padding: 2rem 0;
    margin-top: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
    text-align: center;
}

.text {
    color: white;
    font-size: 0.9rem;
}